* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.App {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  text-align: right;
  width: 100vw;
}

.QuoteBox {
  box-shadow: 10px 5px 5px #2c2b2b;
  height: 300px;
  padding: 20px;
  width: 70%;
  background-color: #fff;
  border-radius: 0 20%;
}

.container-quote {
  display: flex;
  justify-content: start;
  margin: 0 20px;
  height: 50%;
  width: 90%;
}

.fa-solid{
  width: 40px;
  height: 50px;
  font-size: 3rem ;
  
}

.container-quote {
  display: flex;
  justify-content: start;
  margin: 0 20px;
  height: 50%;
  width: 90%;
  font-weight: 400;
  font-size: 18px;
}

.fa-quote-left{
  margin-right: 1rem;
}

.button{
  border-radius: 50% ;
}






